/.DS_Store
/src/.DS_Store
/src/com/.DS_Store
/src/com/bsb/.DS_Store
/src/com/bsb/hike/.DS_Store
/src/com/bsb/hike/library/.DS_Store

/support/.DS_Store
/support/com/.DS_Store
/support/com/bsb/.DS_Store
/support/com/bsb/hike/.DS_Store
/support/com/bsb/hike/common/.DS_Store
/support/com/bsb/hike/mqtt/.DS_Store
/support/com/bsb/hike/mqtt/client/.DS_Store
/support/com/bsb/hike/mqtt/msg/.DS_Store
/support/com/bsb/hike/qa/.DS_Store
/support/com/bsb/hike/qa/apisupport/.DS_Store

/bin
/local.properties
/logs
/project.properties
/res/local.properties
upgradetest.sh
